In [134]:
import pandas as pd
import numpy as np
from IPython.display import HTML, display

In [135]:
df = pd.read_json('purchase_data.json')
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [136]:
total_players = len(df["SN"].value_counts())
data1 = [
    ["Total Number of Players: "],
    [total_players],
    ]

display(HTML('<table><tr>{}</tr></table>'.format('</tr><tr>'.join('<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in data1))))

In [137]:
unique_items = len(df["Item ID"].value_counts())
average_price = round(df["Price"].mean(), 2)
total_purchases = df.count()[0]
total_revenue = round(df["Price"].sum(), 2)

data2 = [
    ["Number of Unique Items: ", "Average Purchase Price: ", "Total Number of Purchases: ", "Total Revenue: "],
    [unique_items, average_price, total_purchases, total_revenue],
    ]

display(HTML('<table><tr>{}</tr></table>'.format('</tr><tr>'.join('<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in data2))))

In [138]:
group_gender = df.groupby(by="Gender")
[female_count, male_count, other_count] = group_gender["SN"].nunique()
male_pct = male_count/(male_count + female_count + other_count)
female_pct = female_count/(male_count + female_count + other_count)
other_pct = other_count/(male_count + female_count + other_count)

data3 = [
    ["","Percentage","Count"],
    ["Male", str(round(male_pct*100)) + "%", male_count],
    ["Female", str(round(female_pct*100)) + "%", female_count],
    ["Other", str(round(other_pct*100)) + "%", other_count],
    ]

display(HTML('<table><tr>{}</tr></table>'.format('</tr><tr>'.join('<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in data3))))

In [141]:
[female_purchase, male_purchase, other_purchase] = group_gender["Age"].count()
[female_avg, male_avg, other_avg] = group_gender["Price"].mean()
[female_revenue, male_revenue, other_revenue] = group_gender["Price"].sum()

data4 = [
    ["", "Purchase Count", "Average Purchase Price", "Total Purchase Value"],
    ["Male", male_purchase, round(male_avg, 2), male_revenue],
    ["Female", female_purchase, round(female_avg, 2), female_revenue],
    ["Other", other_purchase, round(other_avg, 2), other_revenue],
    ]

display(HTML('<table><tr>{}</tr></table>'.format('</tr><tr>'.join('<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in data4))))